* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: rgba(242, 247, 255, 0.5);
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.btn {
  padding: 10px 20px;
  border-radius: 6px;
  background: #685ed6;
  color: #ffffff;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.log {
  background: #f1e4ff !important;
  color: #685ed6 !important;
  margin-right: 12px;
}

.reg {
  background: rgb(104, 94, 214) !important;
  color: #ffffff !important;
}

.pad-50 {
  padding: 50px 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.bg-white {
  background: white;
  width: 100%;
}

.bg-bubbles {
  background: url("../images/background_header.png");
  background-position: center;
}

.bg-lines {
  background: url("../images/lines.png");
  background-repeat: no-repeat;
  background-position-x: center;
}

.listing {
  width: 70px;
  display: none;
  height: 20px;
  padding-bottom: 54px;
}
.listing .circle {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  border: 2px #685ed6 solid;
}
.listing .circle:hover {
  background: #685ed6;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 6px;
}
.header_logo-name {
  font-size: 29px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 96px;
  padding-top: 100px;
}
.title_info {
  width: 482px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.title_info .h {
  font-size: 50px;
}
.title_info .p {
  font-size: 24px;
  line-height: 34px;
  margin: 24px 0;
}
.title_info-btn {
  margin-top: 8px;
  font-size: 18px;
}
.title_image > img {
  width: 380px;
}

.description {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}
.description_text {
  padding-bottom: 40px;
}
.description_text h2 {
  font-size: 48px;
}
.description_text-item {
  padding-top: 50px;
  display: flex;
  align-items: center;
}
.description_text-item .heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.description_text-item .paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  max-width: 380px;
}
.description_image > img {
  width: 412px;
  height: 666px;
}
.description .icon {
  width: 68px;
  height: 68px;
  margin-right: 28px;
}

.tarifs {
  padding-top: 100px;
  display: flex;
  align-items: center;
}
.tarifs_title > h2 {
  font-size: 46px;
  line-height: 64px;
}
.tarifs_title > p {
  font-size: 24px;
  line-height: 32px;
  padding: 16px 0 40px 0;
}
.tarifs_card {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
  width: 100%;
}
.tarifs_card-item {
  height: 387px;
  width: 350px;
  background: #f3f7f9;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 15px 1px #c9c9d2;
}
.tarifs_card-item .name {
  background: rgba(102, 91, 218, 0.05);
  color: #685ed6;
  line-height: 48px;
  padding: 6px 0;
  font-size: 24px;
}
.tarifs_card-item .block {
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}
.tarifs_card-item .block .info {
  line-height: 40px;
  font-size: 28px;
  max-width: 255px;
}
.tarifs_card-item .block .price {
  font-weight: 500;
}
.tarifs_card-item .block .buy {
  font-size: 18px;
  line-height: 24px;
}

.connection {
  display: flex;
}
.connection_title {
  padding-bottom: 56px;
}
.connection_title > h2 {
  font-size: 46px;
  line-height: 64px;
}
.connection .second {
  margin-top: 96px;
}
.connection_steps {
  display: flex;
  align-items: center;
}
.connection_steps-number {
  line-height: 72px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: #f1e4ff;
  color: #685ed6;
  font-size: 30px;
  margin-bottom: 16px;
}
.connection_steps-info {
  font-size: 18px;
  line-height: 28px;
  max-height: 84px;
}
.connection_steps-info > h4 {
  padding-bottom: 4px;
}
.connection_steps-info > .p {
  font-size: 16px;
  line-height: 26px;
  color: #1d2530;
  max-width: 214px;
}
.connection_steps-image {
  padding-top: 56px;
}
.connection_steps-image > img {
  width: 227px;
  height: 466px;
}

.feedback {
  background: url("../images/feedback-image.png");
  background-repeat: no-repeat;
  background-position: top right;
  padding-bottom: 25px;
}
.feedback_title > h3 {
  font-size: 46px;
  line-height: 64px;
  padding: 17px 0 46px 0;
  display: flex;
  justify-content: center;
}
.feedback_items-card {
  display: flex;
  align-items: center;
}
.feedback_items-card .comment {
  max-width: 540px;
  background: #ffffff;
  padding: 32px 32px 56px 32px;
  border-radius: 6px;
  position: relative;
  box-shadow: 0 0 18px 1px #969797;
}
.feedback_items-card .comment::after {
  content: "";
  border: 13px solid transparent;
  border-top: 13px solid rgb(255, 255, 255);
  top: 100%;
  position: absolute;
}
.feedback_items-card .client {
  margin-top: 30px;
}
.feedback_items-card .client_image {
  margin-right: 16px;
}
.feedback_items-card .client_text-name {
  font-size: 18px;
  line-height: 28px;
}
.feedback_items-card .client_text-site {
  font-size: 14px;
  line-height: 24px;
}

.form {
  background: url("../images/background_form.png");
  display: flex;
  justify-content: space-around;
  border-radius: 6px;
  align-items: center;
}
.form_text-title {
  color: #ffffff;
  font-size: 33px;
  line-height: 41px;
}
.form_text-submit form {
  max-width: 368px;
  border-radius: 6px;
  overflow: hidden;
}
.form_text-submit form input {
  padding: 14px 16px;
  width: 248px;
}
.form_text-submit form button {
  width: 120px;
  background: black;
  color: #ffffff;
}

.footer {
  background: #1d2530;
  padding: 70px 0;
  color: #ffffff;
}
.footer_logo {
  font-size: 24px;
}
.footer_about {
  padding-right: 60px;
}
.footer-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 32px;
}
.footer li {
  line-height: 26px;
  padding-bottom: 12px;
  max-width: 216px;
}

@media screen and (max-width: 1000px) {
  .bg-lines {
    background: none;
  }
  .second {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 918px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
  .title {
    padding-top: 50px;
  }
  .title_info {
    width: 270px;
  }
  .paragraph {
    width: 320px;
  }
  .description {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
  }
  .description_text {
    padding-bottom: 40px;
  }
  .description_text h2 {
    font-size: 48px;
  }
  .description_text-item {
    padding-top: 16px;
  }
  .description_text-item .heading {
    font-size: 20px;
  }
  .description_text-item .paragraph {
    width: 340px;
  }
  .description_image > img {
    width: 300px;
    height: 487px;
  }
  .description .icon {
    width: 42px;
    height: 42px;
    margin-right: 18px;
  }
  .tarifs {
    padding-top: 50px;
  }
  .tarifs_card {
    padding-bottom: 24px;
  }
  .tarifs_card-item:nth-child(3) {
    display: none;
  }
  .tarifs .listing {
    display: flex !important;
  }
}
@media screen and (max-width: 729px) {
  .container {
    max-width: 330px;
    margin: 0 auto;
  }
  .header_auth {
    display: none;
  }
  .title {
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
  }
  .title_info {
    padding-bottom: 15px;
  }
  .description_text-item .paragraph {
    width: 280px;
  }
  .description_image > img {
    width: 280px;
    height: 447px;
  }
  .tarifs_card-item:nth-child(2) {
    display: none;
  }
  .connection {
    display: flex;
    align-items: center;
  }
  .connection .listing {
    display: flex !important;
  }
  .connection_steps:nth-child(2), .connection_steps:nth-child(3) {
    display: none;
  }
  .connection_title {
    padding-bottom: 20px;
  }
  .connection_steps-image {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .feedback_title > h3 {
    padding: 8px 0 22px 0;
  }
  .feedback_items-card:nth-child(2) {
    display: none;
  }
  .form {
    flex-wrap: wrap;
    background: #685ed6;
  }
  .form_text-title {
    font-size: 24px;
    line-height: 32px;
    padding: 8px;
  }
  .form_text-submit form {
    max-width: 300px;
    border-radius: 6px;
    overflow: hidden;
    margin: 8px;
  }
  .form_text-submit form input {
    padding: 14px 16px;
    width: 155px;
  }
  .form_text-submit form button {
    width: 120px;
    background: black;
    color: #ffffff;
  }
  .footer_logo {
    margin-right: 28px;
  }
  .footer_about {
    padding-bottom: 30px;
  }
  .footer-title {
    padding-bottom: 16px;
  }
}/*# sourceMappingURL=index.css.map */