* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background: rgba(242, 247, 255, 0.5);
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}
.text-center {
  text-align: center;
}
.btn {
  padding: 10px 20px;
  border-radius: 6px;
  background: #685ed6;
  color: #ffffff;
}
.justify-between {
  display: flex;
  justify-content: space-between;
}
.log {
  background: #f1e4ff !important;
  color: #685ed6 !important;
  margin-right: 12px;
}
.reg {
  background: rgb(104, 94, 214) !important;
  color: #ffffff !important;
}
.pad-50 {
  padding: 50px 0;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.bg-white {
  background: white;
  width: 100%;
}
.bg-bubbles {
  background: url("../images/background_header.png");
  background-position: center;
}
.bg-lines {
  background: url("../images/lines.png");
  background-repeat: no-repeat;
  background-position-x: center;
}
.listing {
  width: 70px;
  display: none;
  height: 20px;
  padding-bottom: 54px;
  .circle {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    border: 2px #685ed6 solid;
  }
  .circle:hover {
    background: #685ed6;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 6px;
  &_logo {
    &-name {
      font-size: 29px;
    }
  }
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 96px;
  padding-top: 100px;
  &_info {
    width: 482px;
    display: flex;
    flex-direction: column;
    align-items: start;
    .h {
      font-size: 50px;
    }
    .p {
      font-size: 24px;
      line-height: 34px;
      margin: 24px 0;
    }
    &-btn {
      margin-top: 8px;
      font-size: 18px;
    }
  }
  &_image > img {
    width: 380px;
  }
}
.description {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
  &_text {
    padding-bottom: 40px;
    h2 {
      font-size: 48px;
    }
    &-item {
      padding-top: 50px;
      display: flex;
      align-items: center;
      .heading {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
      }
      .paragraph {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        max-width: 380px;
      }
    }
  }
  &_image > img {
    width: 412px;
    height: 666px;
  }

  .icon {
    width: 68px;
    height: 68px;
    margin-right: 28px;
  }
}
.tarifs {
  padding-top: 100px;
  display: flex;
  align-items: center;
  &_title {
    > h2 {
      font-size: 46px;
      line-height: 64px;
    }
    > p {
      font-size: 24px;
      line-height: 32px;
      padding: 16px 0 40px 0;
    }
  }
  &_card {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    width: 100%;
    &-item {
      height: 387px;
      width: 350px;
      background: #f3f7f9;
      border-radius: 6px;
      overflow: hidden;
      box-shadow: 0 0 15px 1px #c9c9d2;
      .name {
        background: rgba(102, 91, 218, 0.05);
        color: #685ed6;
        line-height: 48px;
        padding: 6px 0;

        font-size: 24px;
      }
      .block {
        display: flex;
        justify-content: space-around;
        height: 100%;
        align-items: center;
        .info {
          line-height: 40px;
          font-size: 28px;
          max-width: 255px;
        }
        .price {
          font-weight: 500;
        }
        .buy {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  }
}
.connection {
  display: flex;
  &_title {
    padding-bottom: 56px;
    > h2 {
      font-size: 46px;
      line-height: 64px;
    }
  }
  .second {
    margin-top: 96px;
  }
  &_steps {
    display: flex;
    align-items: center;

    &-number {
      line-height: 72px;
      width: 72px;
      height: 72px;
      border-radius: 50%;
      background: #f1e4ff;
      color: #685ed6;
      font-size: 30px;
      margin-bottom: 16px;
    }
    &-info {
      font-size: 18px;
      line-height: 28px;
      max-height: 84px;
      > h4 {
        padding-bottom: 4px;
      }
      > .p {
        font-size: 16px;
        line-height: 26px;
        color: #1d2530;
        max-width: 214px;
      }
    }
    &-image {
      padding-top: 56px;
      > img {
        width: 227px;
        height: 466px;
      }
    }
  }
}
.feedback {
  background: url("../images/feedback-image.png");
  background-repeat: no-repeat;
  background-position: top right;
  padding-bottom: 25px;
  &_title > h3 {
    font-size: 46px;
    line-height: 64px;
    padding: 17px 0 46px 0;
    display: flex;
    justify-content: center;
  }
  &_items {
    &-card {
      display: flex;
      align-items: center;
      .comment {
        max-width: 540px;
        background: #ffffff;
        padding: 32px 32px 56px 32px;
        border-radius: 6px;
        position: relative;
        box-shadow: 0 0 18px 1px #969797;
      }
      .comment::after {
        content: "";
        border: 13px solid transparent;
        border-top: 13px solid rgb(255, 255, 255);
        top: 100%;

        position: absolute;
      }
      .client {
        margin-top: 30px;
        &_image {
          margin-right: 16px;
        }
        &_text {
          &-name {
            font-size: 18px;
            line-height: 28px;
          }
          &-site {
            font-size: 14px;
            line-height: 24px;
          }
        }
      }
    }
  }
}
.form {
  background: url("../images/background_form.png");
  display: flex;
  justify-content: space-around;
  border-radius: 6px;
  align-items: center;
  &_text {
    &-title {
      color: #ffffff;
      font-size: 33px;
      line-height: 41px;
    }
    &-submit {
      form {
        max-width: 368px;
        border-radius: 6px;
        overflow: hidden;
        input {
          padding: 14px 16px;
          width: 248px;
        }
        button {
          width: 120px;
          background: black;
          color: #ffffff;
        }
      }
    }
  }
}
.footer {
  background: #1d2530;
  padding: 70px 0;
  color: #ffffff;
  &_logo {
    font-size: 24px;
  }
  &_about {
    padding-right: 60px;
  }
  &-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 32px;
  }
  li {
    line-height: 26px;
    padding-bottom: 12px;
    max-width: 216px;
  }
}
@media screen and (max-width: 1000px) {
  .bg-lines {
    background: none;
  }
  .second {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 918px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
  .title {
    padding-top: 50px;
    &_info {
      width: 270px;
    }
  }
  .paragraph {
    width: 320px;
  }
  .description {
    display: flex;
    justify-content: space-between;

    padding-bottom: 60px;
    &_text {
      padding-bottom: 40px;
      h2 {
        font-size: 48px;
      }
      &-item {
        padding-top: 16px;
        .heading {
          font-size: 20px;
        }
        .paragraph {
          width: 340px;
        }
      }
    }
    &_image > img {
      width: 300px;
      height: 487px;
    }

    .icon {
      width: 42px;
      height: 42px;
      margin-right: 18px;
    }
  }
  .tarifs {
    padding-top: 50px;
    &_card {
      padding-bottom: 24px;
      &-item:nth-child(3) {
        display: none;
      }
    }

    .listing {
      display: flex !important;
    }
  }
}

@media screen and (max-width: 729px) {
  .container {
    max-width: 330px;
    margin: 0 auto;
  }
  .header {
    &_auth {
      display: none;
    }
  }
  .title {
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
    &_info {
      padding-bottom: 15px;
    }
  }
  .description {
    &_text {
      &-item {
        .paragraph {
          width: 280px;
        }
      }
    }
    &_image > img {
      width: 280px;
      height: 447px;
    }
  }
  .tarifs {
    &_card {
      &-item:nth-child(2) {
        display: none;
      }
    }
  }
  .connection {
    display: flex;
    align-items: center;
    .listing {
      display: flex !important;
    }
    &_steps:nth-child(2),
    &_steps:nth-child(3) {
      display: none;
    }
    &_title {
      padding-bottom: 20px;
    }
    &_steps {
      &-image {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
  }
  .feedback {
    &_title > h3 {
      padding: 8px 0 22px 0;
    }
    &_items-card:nth-child(2) {
      display: none;
    }
  }
  .form {
    flex-wrap: wrap;
    background: #685ed6;
    &_text {
      &-title {
        font-size: 24px;
        line-height: 32px;
        padding: 8px;
      }
      &-submit {
        form {
          max-width: 300px;
          border-radius: 6px;
          overflow: hidden;
          margin: 8px;
          input {
            padding: 14px 16px;
            width: 155px;
          }
          button {
            width: 120px;
            background: black;
            color: #ffffff;
          }
        }
      }
    }
  }
  .footer {
    &_logo {
      margin-right: 28px;
    }
    &_about {
      padding-bottom: 30px;
    }
    &-title {
      padding-bottom: 16px;
    }
  }
}
